In [1]:
import findspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, year, month, dayofmonth, hour, minute, concat, lit, to_date
from pyspark.sql.types import TimestampType
import os
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

In [13]:
def init_spark():
    findspark.init()
    return SparkSession.builder.appName("MergeDatasets").getOrCreate()

def load_dataset(spark):
    # spark = init_spark()
    # Carica i dataset mensili
    path = "assets/data/dataset_completo"
    folders = ["QCLCD201301", "QCLCD201302", "QCLCD201303", "QCLCD201304",
               "QCLCD201305", "QCLCD201306", "QCLCD201307", "QCLCD201308",
               "QCLCD201309", "QCLCD201310", "QCLCD201311", "QCLCD201312"]

    # Carica ciascun dataset in un DataFrame separato
    dataframes = [spark.read.csv(os.path.join(path, folder, folder[5:] + "hourlyM.csv"), header=True, inferSchema=True)
                  for folder in folders]

    # Unisci i DataFrame in uno
    merged_df = dataframes[0]
    for df in dataframes[1:]:
        merged_df = merged_df.union(df)
    merged_df.show()    
    return merged_df

In [14]:
spark = init_spark()
merged_df = load_dataset(spark)

+----+----------+----+---------+---------------+--------------+----------------+----------------+---------------+----------+--------------+-------------+---------+-----------+--------------------+
|WBAN|      Date|Time|Altimeter|DewPointCelsius|DryBulbCelsius|RelativeHumidity|SeaLevelPressure|StationPressure|Visibility|WetBulbCelsius|WindDirection|WindSpeed|WeatherType|        SkyCondition|
+----+----------+----+---------+---------------+--------------+----------------+----------------+---------------+----------+--------------+-------------+---------+-----------+--------------------+
|3011|01/01/2013|   0|  1013.55|           null|          null|            null|            null|         722.32|     13.68|          null|        120.0|    8.855|       null|                 CLR|
|3011|01/01/2013|   1|  1013.89|           null|          null|            null|            null|         722.32|     16.09|          null|        100.0|     4.83|       null|                 CLR|
|3011|01/01/2013|   2|  1014.22|           null|          null|            null|            null|         722.66|     16.09|          null|        120.0|     8.05|       null|                 CLR|
|3011|01/01/2013|   3|  1014.56|          -17.5|         -16.0|            89.0|            null|         722.99|     16.09|         -16.4|        110.0|     4.83|       null|                 CLR|
|3011|01/01/2013|   4|   1014.9|          -18.0|         -17.0|            95.0|            null|         723.33|     11.27|         -17.3|        100.0|     4.83|        -SN|              SCT028|
|3011|01/01/2013|   5|   1014.9|          -17.0|         -16.0|            87.0|            null|         723.33|      8.05|         -16.3|        140.0|     4.83|        -SN|SCT023 SCT033 BKN044|
|3011|01/01/2013|   6|  1015.58|          -18.0|         -16.0|            87.0|            null|         723.67|     11.27|         -16.5|        120.0|     4.83|        -SN|                 CLR|
|3011|01/01/2013|   7|  1015.92|          -18.0|         -16.0|            87.0|            null|         724.01|     16.09|         -16.5|        120.0|     9.66|        -SN|              SCT110|
|3011|01/01/2013|   8|  1016.59|          -17.0|         -15.0|            91.0|            null|         724.35|     16.09|         -15.5|          0.0|      0.0|       null|                 CLR|
|3011|01/01/2013|   9|  1017.27|          -15.0|         -13.0|            84.0|            null|         725.03|      8.05|         -13.3|          0.0|      0.0|         BR|       BKN017 OVC025|
|3011|01/01/2013|  10|  1017.95|          -15.0|         -11.0|            74.0|            null|         725.36|     16.09|         -12.2|          0.0|      0.0|       null|SCT029 BKN037 OVC045|
|3011|01/01/2013|  11|  1017.27|          -14.0|         -10.0|            74.0|            null|         725.03|     11.27|         -11.1|          0.0|      0.0|       null|SCT011 SCT019 OVC024|
|3011|01/01/2013|  12|  1016.93|          -14.0|          -8.0|            62.0|            null|         724.69|     16.09|          -9.6|          0.0|      0.0|       null|              OVC028|
|3011|01/01/2013|  13|  1016.59|          -16.0|          -8.0|            52.0|            null|         724.35|     16.09|          -9.9|        260.0|    16.09|       null|              OVC037|
|3011|01/01/2013|  14|  1016.26|          -16.0|          -8.0|            52.0|            null|         724.35|     16.09|         -10.1|        250.0|    20.92|       null|SCT037 SCT044 BKN050|
|3011|01/01/2013|  15|  1017.27|          -15.0|          -9.0|            62.0|            null|         725.03|     16.09|         -10.6|        270.0|    24.14|       null|                 CLR|
|3011|01/01/2013|  16|  1017.61|          -16.0|         -10.0|            61.0|            null|         725.36|     16.09|         -11.7|        260.0|    20.92|       null|                 CLR|
|3011|01/01/2013|  17|  1018.29|          -16.0|         -11.0|            73.0|            null|          725.7|     16.09|         -12.4|          0.0|      0.0|       null|                 CLR|
|3011|01/01/2013|  18|  1018.63|          -16.0|         -12.0|            73.0|            null|         726.04|     16.09|         -13.2|          0.0|      0.0|       null|                 CLR|
|3011|01/01/2013|  19|  1018.96|          -17.0|         -14.0|            76.0|            null|         726.38|     16.09|         -14.7|        120.0|     4.83|       null|                 CLR|
+----+----------+----+---------+---------------+--------------+----------------+----------------+---------------+----------+--------------+-------------+---------+-----------+--------------------+
only showing top 20 rows

In [18]:
merged_df.columns

['WBAN',
 'Date',
 'Time',
 'Altimeter',
 'DewPointCelsius',
 'DryBulbCelsius',
 'RelativeHumidity',
 'SeaLevelPressure',
 'StationPressure',
 'Visibility',
 'WetBulbCelsius',
 'WindDirection',
 'WindSpeed',
 'WeatherType',
 'SkyCondition']

In [20]:
merged_df.count()

16867047

In [21]:
# Elimina tutte le righe con valori null nella colonna specifica (ad esempio, "NomeColonna")
nome_colonna = "DewPointCelsius"
df_senza_null = merged_df.na.drop(subset=["DewPointCelsius", "DryBulbCelsius", "RelativeHumidity", "Visibility", "WetBulbCelsius", "WindDirection", "WindSpeed"])
print(df_senza_null.count())
# Visualizza il DataFrame risultante
df_senza_null.show()

13890315
+----+----------+----+---------+---------------+--------------+----------------+----------------+---------------+----------+--------------+-------------+---------+-----------+--------------------+
|WBAN|      Date|Time|Altimeter|DewPointCelsius|DryBulbCelsius|RelativeHumidity|SeaLevelPressure|StationPressure|Visibility|WetBulbCelsius|WindDirection|WindSpeed|WeatherType|        SkyCondition|
+----+----------+----+---------+---------------+--------------+----------------+----------------+---------------+----------+--------------+-------------+---------+-----------+--------------------+
|3011|01/01/2013|   3|  1014.56|          -17.5|         -16.0|            89.0|            null|         722.99|     16.09|         -16.4|        110.0|     4.83|       null|                 CLR|
|3011|01/01/2013|   4|   1014.9|          -18.0|         -17.0|            95.0|            null|         723.33|     11.27|         -17.3|        100.0|     4.83|        -SN|              SCT028|
|3011|01/01/2013|   5|   1014.9|          -17.0|         -16.0|            87.0|            null|         723.33|      8.05|         -16.3|        140.0|     4.83|        -SN|SCT023 SCT033 BKN044|
|3011|01/01/2013|   6|  1015.58|          -18.0|         -16.0|            87.0|            null|         723.67|     11.27|         -16.5|        120.0|     4.83|        -SN|                 CLR|
|3011|01/01/2013|   7|  1015.92|          -18.0|         -16.0|            87.0|            null|         724.01|     16.09|         -16.5|        120.0|     9.66|        -SN|              SCT110|
|3011|01/01/2013|   8|  1016.59|          -17.0|         -15.0|            91.0|            null|         724.35|     16.09|         -15.5|          0.0|      0.0|       null|                 CLR|
|3011|01/01/2013|   9|  1017.27|          -15.0|         -13.0|            84.0|            null|         725.03|      8.05|         -13.3|          0.0|      0.0|         BR|       BKN017 OVC025|
|3011|01/01/2013|  10|  1017.95|          -15.0|         -11.0|            74.0|            null|         725.36|     16.09|         -12.2|          0.0|      0.0|       null|SCT029 BKN037 OVC045|
|3011|01/01/2013|  11|  1017.27|          -14.0|         -10.0|            74.0|            null|         725.03|     11.27|         -11.1|          0.0|      0.0|       null|SCT011 SCT019 OVC024|
|3011|01/01/2013|  12|  1016.93|          -14.0|          -8.0|            62.0|            null|         724.69|     16.09|          -9.6|          0.0|      0.0|       null|              OVC028|
|3011|01/01/2013|  13|  1016.59|          -16.0|          -8.0|            52.0|            null|         724.35|     16.09|          -9.9|        260.0|    16.09|       null|              OVC037|
|3011|01/01/2013|  14|  1016.26|          -16.0|          -8.0|            52.0|            null|         724.35|     16.09|         -10.1|        250.0|    20.92|       null|SCT037 SCT044 BKN050|
|3011|01/01/2013|  15|  1017.27|          -15.0|          -9.0|            62.0|            null|         725.03|     16.09|         -10.6|        270.0|    24.14|       null|                 CLR|
|3011|01/01/2013|  16|  1017.61|          -16.0|         -10.0|            61.0|            null|         725.36|     16.09|         -11.7|        260.0|    20.92|       null|                 CLR|
|3011|01/01/2013|  17|  1018.29|          -16.0|         -11.0|            73.0|            null|          725.7|     16.09|         -12.4|          0.0|      0.0|       null|                 CLR|
|3011|01/01/2013|  18|  1018.63|          -16.0|         -12.0|            73.0|            null|         726.04|     16.09|         -13.2|          0.0|      0.0|       null|                 CLR|
|3011|01/01/2013|  19|  1018.96|          -17.0|         -14.0|            76.0|            null|         726.38|     16.09|         -14.7|        120.0|     4.83|       null|                 CLR|
|3011|01/01/2013|  20|   1019.3|          -17.0|         -14.0|            76.0|            null|         726.38|     16.09|         -14.7|        110.0|     9.66|       null|                 CLR|
|3011|01/01/2013|  21|   1019.3|          -18.0|         -15.0|            80.0|            null|         726.38|     16.09|         -15.6|        120.0|     9.66|       null|                 CLR|
|3011|01/01/2013|  22|  1019.98|          -18.0|         -16.0|            80.0|            null|         727.06|     16.09|         -16.5|        110.0|    11.27|       null|                 CLR|
+----+----------+----+---------+---------------+--------------+----------------+----------------+---------------+----------+--------------+-------------+---------+-----------+--------------------+
only showing top 20 rows

In [22]:
# Importa le librerie necessarie
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg
# Esegui una groupby per il campo "wban" e calcola le medie delle misure
# result = df_senza_null.groupBy("wban").agg(avg("DewPointCelsius").alias("DewPointCelsius"), avg("DryBulbCelsius").alias("DryBulbCelsius"))

colonne_da_mediare = ["DewPointCelsius", "DryBulbCelsius", "RelativeHumidity", "Visibility", "WetBulbCelsius", "WindDirection", "WindSpeed"]
agg_exprs = [avg(col(colonna)).alias(colonna) for colonna in colonne_da_mediare]
# Esegui la groupBy e calcola la media
result = df_senza_null.groupBy("wban").agg(*agg_exprs)
print(result.count())
print(result.columns)
# Visualizza i risultati
result.show()
# Chiudi la sessione Spark

1758
['wban', 'DewPointCelsius', 'DryBulbCelsius', 'RelativeHumidity', 'Visibility', 'WetBulbCelsius', 'WindDirection', 'WindSpeed']
+----+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|wban|     DewPointCelsius|    DryBulbCelsius|  RelativeHumidity|        Visibility|    WetBulbCelsius|     WindDirection|         WindSpeed|
+----+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|3749|  4.9041290675416995|12.499083948591743| 63.47320207820618|13.748165162701724| 8.967692097347555|233.38255400601585|13.367701668033908|
|3918|               7.812| 16.03709090909091| 60.38909090909091|14.945768181818265| 11.56297272727273|113.29818181818182| 6.010627272727268|
|3997|  5.6112037793071305|12.046798087017384| 67.83296395660795| 14.15039251137298| 8.764749795870754|171.22535868424123| 13.22342120611222|
|3179|   7.512892968562516|17.294462443004555| 59.93142548596112|13.019207463402978|12.122744180465562|144.65022798176145| 8.149342452603786|
|3704|    9.21761829236056| 13.99173936029606| 76.44138250066085|14.673788659793912|11.582850911974642|139.62595823420565| 7.014214908802529|
|3703|  11.332722176807211|15.814527618825187| 77.42549340184515|14.935396473198754|13.436891276421818|153.98108139670677|10.283205068317175|
|4725|  2.6862011439466187| 8.035033365109628| 71.42457102001907|14.186791587226004| 5.581827931363205| 209.2153241182078|12.585794208770258|
|3124| -0.7123476548073326|17.388747999507576| 36.46479133325126| 15.92665209897832| 8.767961344330914|170.37424596823834|13.365546596085196|
|3026|  0.8773115220483628|10.096680891417735|59.222083926031296|15.159033902323468|5.5456555239449985|199.50391180654339|19.332549786628764|
|3936|  5.8091148325358954|12.230107655502396| 68.42511961722488|15.043082535885258| 8.918032296650718|134.55382775119617|11.246769736842097|
|3706|   7.567501656726313|13.629178263750845| 70.94897282968853|15.056495029821171| 10.63398939695163|142.71570576540756|  7.72862889330682|
|3013|0.004130408868757529|11.618184527357252|52.821075217546785|15.204217427583826| 5.920210990582904| 158.7573012277983|15.479167362021704|
|3166|   9.144491365183411|18.635528803731248|58.658641119374764|14.913206857431058|13.580354216563725| 99.01109290306316| 4.883958779780657|
|3725|  7.0391899000526115|12.812453971593904| 71.48014203051025|13.914875065754961| 9.987171225670702| 72.27972119936875| 4.469460152551287|
|3811|   9.522709022201239|14.637063060935292| 73.97165800661313|14.733982050070942|  11.9080715635333|136.67926310817194|  9.10594532357108|
|3017| -1.7625000000000042| 9.713752374169042| 51.29481244064577|14.955943732193823| 4.290016619183286|177.05899810066478|15.786681505223186|
|3183| -1.1868002357100766| 17.48615203299941| 32.92392457277548|15.962622274602346| 8.473523865645253|199.28226281673543|19.628684737772534|
|3727|  11.831514166279621|16.325319321876474| 77.92980724570367|14.548867278216546|13.921452624245244| 97.17313051555968|5.5044118671620925|
|3972|  10.469544721498574|18.722801141297605|62.077471777695074|15.479469668775687|14.082837116983017| 163.9046024066493|13.623773725344256|
|3196|  0.7282541258220632|17.598945278570547|40.256607519543365|15.908460727137467| 9.407457500930635| 123.5810894651942| 9.606569673656779|
+----+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [23]:
# Seleziona le colonne rilevanti per la clusterizzazione (ad esempio, temperatura e umidità)
feature_columns = ["DewPointCelsius", "DryBulbCelsius", "RelativeHumidity", "Visibility", "WetBulbCelsius", "WindDirection", "WindSpeed"]
assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
df = assembler.transform(result)

# Crea il modello di clustering K-Means
kmeans = KMeans().setK(5)  # Specifica il numero di cluster desiderato
model = kmeans.fit(df)

# Esegui il clustering sui dati
clustered_data = model.transform(df)

# Visualizza i risultati
clustered_data.select("features", "prediction").show()

+--------------------+----------+
|            features|prediction|
+--------------------+----------+
|[4.90412906754169...|         3|
|[7.812,16.0370909...|         2|
|[5.61120377930713...|         0|
|[7.51289296856251...|         4|
|[9.21761829236056...|         2|
|[11.3327221768072...|         4|
|[2.68620114394661...|         3|
|[-0.7123476548073...|         0|
|[0.87731152204836...|         3|
|[5.80911483253589...|         2|
|[7.56750165672631...|         4|
|[0.00413040886875...|         4|
|[9.14449136518341...|         1|
|[7.03918990005261...|         1|
|[9.52270902220123...|         2|
|[-1.7625000000000...|         0|
|[-1.1868002357100...|         3|
|[11.8315141662796...|         1|
|[10.4695447214985...|         4|
|[0.72825412582206...|         2|
+--------------------+----------+
only showing top 20 rows

In [24]:
clustered_data.show()

+----+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+----------+
|wban|     DewPointCelsius|    DryBulbCelsius|  RelativeHumidity|        Visibility|    WetBulbCelsius|     WindDirection|         WindSpeed|            features|prediction|
+----+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+----------+
|3749|  4.9041290675416995|12.499083948591743| 63.47320207820618|13.748165162701724| 8.967692097347555|233.38255400601585|13.367701668033908|[4.90412906754169...|         3|
|3918|               7.812| 16.03709090909091| 60.38909090909091|14.945768181818265| 11.56297272727273|113.29818181818182| 6.010627272727268|[7.812,16.0370909...|         2|
|3997|  5.6112037793071305|12.046798087017384| 67.83296395660795| 14.15039251137298| 8.764749795870754|171.22535868424123| 13.22342120611222|[5.61120377930713...|         0|
|3179|   7.512892968562516|17.294462443004555| 59.93142548596112|13.019207463402978|12.122744180465562|144.65022798176145| 8.149342452603786|[7.51289296856251...|         4|
|3704|    9.21761829236056| 13.99173936029606| 76.44138250066085|14.673788659793912|11.582850911974642|139.62595823420565| 7.014214908802529|[9.21761829236056...|         2|
|3703|  11.332722176807211|15.814527618825187| 77.42549340184515|14.935396473198754|13.436891276421818|153.98108139670677|10.283205068317175|[11.3327221768072...|         4|
|4725|  2.6862011439466187| 8.035033365109628| 71.42457102001907|14.186791587226004| 5.581827931363205| 209.2153241182078|12.585794208770258|[2.68620114394661...|         3|
|3124| -0.7123476548073326|17.388747999507576| 36.46479133325126| 15.92665209897832| 8.767961344330914|170.37424596823834|13.365546596085196|[-0.7123476548073...|         0|
|3026|  0.8773115220483628|10.096680891417735|59.222083926031296|15.159033902323468|5.5456555239449985|199.50391180654339|19.332549786628764|[0.87731152204836...|         3|
|3936|  5.8091148325358954|12.230107655502396| 68.42511961722488|15.043082535885258| 8.918032296650718|134.55382775119617|11.246769736842097|[5.80911483253589...|         2|
|3706|   7.567501656726313|13.629178263750845| 70.94897282968853|15.056495029821171| 10.63398939695163|142.71570576540756|  7.72862889330682|[7.56750165672631...|         4|
|3013|0.004130408868757529|11.618184527357252|52.821075217546785|15.204217427583826| 5.920210990582904| 158.7573012277983|15.479167362021704|[0.00413040886875...|         4|
|3166|   9.144491365183411|18.635528803731248|58.658641119374764|14.913206857431058|13.580354216563725| 99.01109290306316| 4.883958779780657|[9.14449136518341...|         1|
|3725|  7.0391899000526115|12.812453971593904| 71.48014203051025|13.914875065754961| 9.987171225670702| 72.27972119936875| 4.469460152551287|[7.03918990005261...|         1|
|3811|   9.522709022201239|14.637063060935292| 73.97165800661313|14.733982050070942|  11.9080715635333|136.67926310817194|  9.10594532357108|[9.52270902220123...|         2|
|3017| -1.7625000000000042| 9.713752374169042| 51.29481244064577|14.955943732193823| 4.290016619183286|177.05899810066478|15.786681505223186|[-1.7625000000000...|         0|
|3183| -1.1868002357100766| 17.48615203299941| 32.92392457277548|15.962622274602346| 8.473523865645253|199.28226281673543|19.628684737772534|[-1.1868002357100...|         3|
|3727|  11.831514166279621|16.325319321876474| 77.92980724570367|14.548867278216546|13.921452624245244| 97.17313051555968|5.5044118671620925|[11.8315141662796...|         1|
|3972|  10.469544721498574|18.722801141297605|62.077471777695074|15.479469668775687|14.082837116983017| 163.9046024066493|13.623773725344256|[10.4695447214985...|         4|
|3196|  0.7282541258220632|17.598945278570547|40.256607519543365|15.908460727137467| 9.407457500930635| 123.5810894651942| 9.606569673656779|[0.72825412582206...|         2|
+----+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+----------+
only showing top 20 rows

In [32]:
clustered_data_pandas = clustered_data.toPandas()
clustered_data_pandas.rename(columns={'wban':'WBAN'}, inplace=True)
clustered_data_pandas

,WBAN,DewPointCelsius,DryBulbCelsius,RelativeHumidity,Visibility,WetBulbCelsius,WindDirection,WindSpeed,features,prediction
0,3749,4.904129,12.499084,63.473202,13.748165,8.967692,233.382554,13.367702,"[4.9041290675416995, 12.499083948591743, 63.47...",3
1,3918,7.812000,16.037091,60.389091,14.945768,11.562973,113.298182,6.010627,"[7.812, 16.03709090909091, 60.38909090909091, ...",2
2,3997,5.611204,12.046798,67.832964,14.150393,8.764750,171.225359,13.223421,"[5.6112037793071305, 12.046798087017384, 67.83...",0
3,3179,7.512893,17.294462,59.931425,13.019207,12.122744,144.650228,8.149342,"[7.512892968562516, 17.294462443004555, 59.931...",4
4,3704,9.217618,13.991739,76.441383,14.673789,11.582851,139.625958,7.014215,"[9.21761829236056, 13.99173936029606, 76.44138...",2
...,...,...,...,...,...,...,...,...,...,...
1753,24284,13.978229,15.568215,90.608128,14.573222,14.574165,195.551524,12.378933,"[13.978229317851959, 15.56821480406386, 90.608...",3
1754,24213,13.516667,15.866667,86.416667,11.650833,14.491667,185.000000,13.812500,"[13.516666666666666, 15.866666666666667, 86.41...",0
1755,53884,6.103238,10.969933,75.321050,14.889606,8.707677,144.905081,8.498802,"[6.103238414293686, 10.969932998324966, 75.321...",4
1756,53932,5.000000,19.000000,40.000000,16.090000,11.700000,200.000000,17.700000,"[5.0, 19.0, 40.0, 16.09, 11.7, 200.0, 17.7]",3
1757,94943,-10.744118,-7.213235,72.323529,16.090000,-7.573529,60.294118,7.573088,"[-10.744117647058827, -7.213235294117645, 72.3...",1

In [33]:
import pandas as pd
df = pd.read_csv('./assets/data/2013stationM.csv')
df

,WBAN,Name,State,Location,Latitude,Longitude,StationHeight,Barometer,TimeZone
0,3011.0,TELLURIDE,CO,TELLURIDE REGIONAL AIRPORT,37.95000,-107.90000,2766.97,NaN,-7
1,3012.0,TAOS,NM,TAOS REGIONAL AIRPORT,36.45000,-105.66667,2161.34,NaN,-7
2,3013.0,LAMAR,CO,LAMAR MUNICIPAL AIRPORT,38.07000,-102.68806,1128.67,124449.83,-7
3,3014.0,TORREON,NM,TORREON,35.79910,-107.18130,2105.86,0.00,-7
4,3016.0,RIFLE,CO,GARFIELD CO REGIONAL ARPT,39.52778,-107.71972,1689.81,186454.63,-7
...,...,...,...,...,...,...,...,...,...
2151,93764.0,NaN,MD,GAITHERSBURG MONTGOMERY COUNTY AIR PARK,39.16667,-77.16667,NaN,NaN,-5
2152,93804.0,NaN,SC,SPARTANBURG DOWNTOWN MEMORIAL AIRPORT,34.91667,-81.95000,NaN,NaN,-5
2153,94035.0,NaN,CO,FORT COLLINS LOVELAND AP,40.45000,-105.01667,NaN,NaN,-7
2154,94852.0,NaN,IN,MARION MUNICIPAL AP,40.48333,-85.68333,NaN,NaN,-5
2155,96404.0,TOK,AK,TOK 70 SE,62.73700,-141.20830,NaN,NaN,-9

In [37]:
joined_df = pd.merge(df, clustered_data_pandas[['WBAN', 'prediction']], on='WBAN', how='inner')
joined_df

,WBAN,Name,State,Location,Latitude,Longitude,StationHeight,Barometer,TimeZone,prediction
0,3011.0,TELLURIDE,CO,TELLURIDE REGIONAL AIRPORT,37.95000,-107.90000,2766.97,NaN,-7,2
1,3012.0,TAOS,NM,TAOS REGIONAL AIRPORT,36.45000,-105.66667,2161.34,NaN,-7,4
2,3013.0,LAMAR,CO,LAMAR MUNICIPAL AIRPORT,38.07000,-102.68806,1128.67,124449.83,-7,4
3,3016.0,RIFLE,CO,GARFIELD CO REGIONAL ARPT,39.52778,-107.71972,1689.81,186454.63,-7,2
4,3017.0,DENVER,CO,DENVER INTERNATIONAL AIRPORT,39.83280,-104.65750,1655.37,182255.51,-7,0
...,...,...,...,...,...,...,...,...,...,...
1753,54939.0,CENTERVILLE,IA,CENTERVILLE MUNICIPAL AIRPORT,40.68400,-92.90100,NaN,NaN,-6,2
1754,54940.0,FOREST CITY,IA,FOREST CITY MUNICIPAL AIRPORT,43.23475,-93.62410,NaN,NaN,-6,0
1755,54941.0,IOWA FALLS,IA,IOWA FALLS MUNICIPAL AIRPORT,42.47138,-93.20707,NaN,NaN,-6,0
1756,54942.0,OSCEOLA,IA,OSCEOLA MUNICIPAL AIRPORT,41.05222,-93.68913,NaN,NaN,-6,3
1757,54943.0,PERRY,IA,PERRY MUNICIPAL AIRPORT,41.82800,-94.15983,NaN,NaN,-6,3